.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aquamarine;
    border: solid 5px rgb(28, 252, 178);
    border-radius: 5px;
    width: 210px;
    height: 210px;
    padding: 40px;
    margin: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    text-decoration: none;

}

.card-container:hover{
    box-shadow: 5px 5px 10px black;
    transform: translatey(-10px);
    transition: 650ms;
}

.card-image{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 30px;
}

.title{
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    margin: 0 25px;
    color: black;
    font-weight: bold;
}