.food-heading-container {
    position: relative;
    margin: 15px;
}

.food-background-img {
    width: 80%;
    height: 80vh;
    object-fit: cover;
    filter: blur(20px);
    position: absolute;
    z-index: 1;
}

.food-heading-img {
    width: 90%;
    height: 400px;
    position: relative; 
    top: 10px;  
    z-index: 2;
    margin: auto;
}
.food-heading-img{
    
    font-size: 34px;
    font-weight: bold;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    left: 50px;

}

.hero-section-img {
    width: 200px;
    margin: 10px 20px;
    border-radius: 15px;
    z-index: 2;
    
}

.food-order-heading {
    font-size: 50px;
    margin: 10px;
    color: black;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 130px; 
}

.food-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin-top: 20px; 
}
