.food-image{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;

}

.food-image-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(78, 76, 76);
    border-radius: 15px;

}