.App {
    text-align: center;
    padding: 20px;
   
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    height: 100vh;
    
    
  }
  
  .order-now-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #011404;
    border-radius: 10px;
    box-shadow:0 0 40px black;
    background-color: #abfca7;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #d2d6d2;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #05294f;
    color: rgb(219, 225, 218);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .order-confirmation {
    text-align: left;
  }
  
  .order-confirmation p {
    margin: 5px 0;
  }