.acp-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
}

.acp-card-image{
    height: 150px;
    width: 150px;
    margin: 10px auto;
    
}

.acp-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}

.acp-info-container{
    margin: 0 10px;
    padding: 0 10px;
}

.acp-info-paragraph{
   
    margin: 0 30px;
    font-size: 20px;
}