.navbar-container {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
   
}


.navbar-items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100px;
    position: sticky;
    width: 800px;


}

.navbar-logo {
    height: 90px;
    margin-left: 20px;
    border-radius: 25px;
    cursor: pointer;
    

}
.navbar-logo:hover{
    box-shadow: 0px 0px 15px 1px white;
    transition: 0.3s;
}

.navbar-items {
    font-size: 20px;
    color: black;
    background-blend-mode: soft-light, screen;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.log-in-container {
    margin-right: 40px;

}

.navbar-items:hover {
    font-size: 21px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 1px white;
}



/* For tablets and larger screens */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .navbar-items-container {
        width: 500px;
      align-items: center;
        height: auto;
        }
         .navbar-logo {
        height: 70px;
        margin-left: 0;
    }

    .navbar-items {
        font-size: 18px;
        width: auto;
        padding: 10px;
    }
 }

/* For mobile devices */
@media screen and (min-width: 480px) and (max-width: 768px)
{
    .navbar-container {
        padding: 10px;
        
    }
    .navbar-items-container {
        width: 400px;
      align-items: center;
        height: auto;
    }
   .navbar-logo {
        height: 60px;
    }

    .navbar-items {
        font-size: 17px;
        padding: 8px;
        margin: 3px;
        width: 70px;
    }
.log-in-container {
        margin: 0px
    }
}

/* For very small devices */

@media screen and (min-width: 300px) and (max-width: 480px)
 {
    .navbar-container {
        padding: 5px;
    }

    .navbar-logo {
        height: 50px;
        margin: 0px;
    }

    .navbar-items {
        font-size: 14px;
        padding: 5px;
        margin: 2px;
    }

    .navbar-items-container {
        width: 100%;
        background-color: tomato;
    }
.log-in-container {
        margin-right: 0;
    }
}
