.navbar-container {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.navbar-items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 150px;
    position: sticky;
    width: 800px;


}

.navbar-logo {
    height: 120px;
    margin-left: 20px;

}

.navbar-items {
    font-size: 20px;
    color: white;
    background-blend-mode: soft-light, screen;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.log-in-container {
    margin-right: 40px;

}

.navbar-items:hover {
    font-size: 21px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 1px white;
}