*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movie-card {
    border-radius: 10px;
    overflow:hidden;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 30px;
    width:70%;
   }
.poster-img {
   width: 900px;
    height: 400px;
    margin:4%;
    margin-left: 100px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align:center;
}
.rating {
    background-color: #000;
    color: #FFFFFF;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.rating img{
    width: 20px;
    padding-right: 5px;
}
.movie-title{
    font-size: 20px;
    padding: 10px;
}
.description{
    font-size: 20px;
    color: #454545;
    padding: 30px;
    margin: 25px;
}
.langauage{
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    background-color: tomato;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:35px;
}
.info1{
    
    font-size:22px;
    padding: 10px;
    margin: 5px;
   }
   
.info{
   font-size: large;
    padding: 10px;
    margin: 5px;
   
}