.movie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.movie-food-container{
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
a{
    text-decoration: none;
    padding: 10px;
    color: #000;
}
.movie-food-container span{
    color: #000;
}