body{
    background:url('https://png.pngtree.com/background/20230827/original/pngtree-vibrant-cinema-experience-with-3d-glasses-popcorn-and-clapperboard-background-picture-image_4846477.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}